{%extends 'base.html' %}
{%load static%}



{%block content%}



<div class="container-fluid bg-secondary">

    {%include 'navbar2.html' %}
    
    <div class="container bg-light" style="padding-top:100px ;"  >
        
    <div class="row "style="height:850px">

                <div class="col col-lg-6 col-12 offset-lg-0 product_detail " style="max-height: 300px;">
                        <h1>{{beat.title}}</h1>


                        {%if beat.image %}
                         
                        <div class="col col-lg-12" style="">
                        <img src="{{beat.image.url}}" class="mw-50 col-lg-12 col-12" alt="" >
                        </div>

                        {%else%}
                        <div class="col col-lg-12" style="">
                            <img src="{{beat.image.}}" class="mw-50 col-lg-12" alt="" >
                            </div>
                       {%endif%}
                       
                    
                </div>


                
                <div class="col col-lg-5 col-12 offset-lg-1 product_detail " style="padding-top:40px; max-height: 300px;" >
                    <h1 style="text-align: right; margin-right: 30px;">${{beat.price}}</h1>
                    <p style="max-height: 200px;" >{{beat.description}}</p>
                  

                    
                   



                    {%if purchased%}
                        <h2>You Own this beat</h2>
                        <audio controls >
                            <source src="{{beat.full_beat.url}}" style="max-height: 200px;" >
                        </audio><br>
                    {%else%}
                        
                    <audio controls >
                        <source src="{{beat.sample.url}}" style="max-height: 200px;" >
                    </audio><br>

                                {%if carted%}
                                <a href="{%url 'shop' %}"><button class="btn btn-outline-secondary">Continue shopping</button></a>
                                <a href="{%url 'cart'  %}"><button class="btn btn-outline-primary">Go To Cart</button></a>
                                {%else%}
                                <form action="{%url 'add_to_cart' beat.slug %}" method="post">
                                    {%csrf_token%}
                                <button class="btn btn-primary" style="max-height: 200px;" >Add To Cart</button>
                            </form>
                            {%endif%}

                    {%endif%}

                </div>
                
                

                

            </div>



    </div>
</div>

   
{%endblock%}

