  
  

<nav class="container-fluid   navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{%url 'landing' %}">S.O.U.N.D.Z</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{%url 'landing' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{%url 'shop' %}">Our Store</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Genres
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Pop</a></li>
              <li><a class="dropdown-item" href="#">Hip-Pop</a> </li>
              <li><a class="dropdown-item" href="#">Afro</a> </li>
              <li><a class="dropdown-item" href="#">Afro-Pop</a> </li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Producers</a></li>
            </ul>
          </li>

          {%if request.user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{%url 'user_dashboard' %}">Dashboard</a>
        </li>
         {%endif%}
        </ul>

        {%if user.is_staff%}
         <a href="{%url  'create' %}"><h3 class="text-light">Create</h3></a>

         {%endif%}

         &nbsp;
       <a href="{%url  'cart'   %}"><h4 class="text-light">Cart</h4></a>
        <!-- <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> -->
      </div>
    </div>
  </nav>